---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
import Button from "./Button.astro";
import { Icon } from 'astro-icon/components'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        Top Skills
      </h1>
    </header>
    <div class="flex gap-1">
        <Button border={true}>
          <Icon name="ri:javascript-fill" class="h-6" />
        </Button>
        <Button border={true}>
          <Icon name="ri:reactjs-fill" class="h-6" />
        </Button>
        <Button border={true}>
          <Icon name="ri:java-line" class="h-6" />
        </Button>
        <Button border={true}>
          
        </Button>
    </div>
    <div class="flex gap-1">
        <Button border={true}>
          <Icon name="ri:bard-fill" class="h-6" />
        </Button>
        <Button border={true}>
          <Icon name="ri:npmjs-fill" class="h-6" />
        </Button>
        <Button border={true}>
          <Icon name="ri:cloud-fill" class="h-6" />
        </Button>
        <Button border={true}>
          <Icon name="ri:chrome-fill" class="h-6" />
        </Button>
    </div>
</Card>
